.cardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  background-color: aquamarine;
  width: min(100%, 127,90rem);
  height: 60vh;
  padding: 13rem;
}

h2{
  font-size: 60px;
}

select{
  border-radius: 13px;
  height: 3rem;
  width: 20rem;
  font-size: 25px;
  text-align: center;
  border: solid;
  border-color: rgb(166, 23, 209);
  border-left: 70px;
  margin-bottom: 30px;
} 
/* 
option{
  color: black;
  font-size: 50px;
} */

.targetContainer{
  display: flex;
  justify-content: center;
  background-color: chartreuse;
  margin-top: 30px;
  border-radius: 15px;
  height: 14rem;
  width: 30rem;
  padding: 30px;
}

.targetContainer img{
  border-radius: 50%;
  font-size: 20px;
  margin-right: 30px;
}

.targetText{
  font-size: 20px;
  
}